## Importing librairies

In [1]:
import pandas as pd
import numpy as np

## Unicef Dataset

### Content
#### Sheets:
- '1. Demographics',
- '2. Child Mortality',
- '3. Maternal & Newborn Health',
- <b>'4. Child Health',</b>
- '5. HIVAIDS Epidemiology',
- '6. HIVAIDS Intervention',
- '7. Nutrition A',
- '8. Nutrition B',
- '9. ECD',
- '10. Education',
- '11. Child Protection',
- '12. Soc. Protection',
- '13. WASH',
- '14. Adolescents',
- '15. Econ. Indicators',
- "16. Women's Econ Empowerment",
- 'Disparities by Residence',
- 'Disparities by Household Wealth',
- 'Disparities by Residenc',
- 'Disparities by Household Wealt'

#### Child Health:
- BCG – Percentage of live births who received bacilli Calmette−Guérin (vaccine against tuberculosis).
- DTP1 – Percentage of surviving infants who received the first dose of diphtheria, pertussis and tetanus vaccine.
- DTP3 – Percentage of surviving infants who received three doses of diphtheria, pertussis and tetanus vaccine.
- Polio3 – Percentage of surviving infants who received three doses of the polio vaccine.
- MCV1 – Percentage of surviving infants who received the first dose of the measles−containing vaccine.
- MCV2 – Percentage of children who received the second dose of measles−containing vaccine as per national schedule.
- HepB3 – Percentage of surviving infants who received three doses of hepatitis B vaccine.
- Hib3 – Percentage of surviving infants who received three doses of Haemophilus influenzae type b vaccine.
- Rota – Percentage of surviving infants who received the last dose of rotavirus vaccine as recommended.
- PCV3 – Percentage of surviving infants who received three doses of pneumococcal conjugate vaccine.
- Protection at birth (PAB) – Percentage of newborns protected at birth against tetanus with tetanus toxoid.
- Care seeking for children with symptoms of Acute Respiratory Infection (ARI) – Percentage of children under age 5 with symptoms of pneumonia (cough and fast or difficult breathing due to a problem in the chest) in the two weeks preceding the survey for whom advice or treatment was sought from a health facility or provider.
- Diarrhoea treatment with oral rehydration salts (ORS) – Percentage of children under age 5 who had diarrhoea in the two weeks preceding the survey and who received oral rehydration salts (ORS packets or pre−packaged ORS fluids).
- Care seeking for children with fever – Percentage of children under five years of age with fever for whom advice or treatment was sought from a health facility or provider. Excludes drug vendor, stores, shops and traditional healer. In some countries, particularly non−malaria endemic countries, pharmacies have also been excluded from the calculation.
- Children sleeping under ITNs – Percentage of children under age 5 who slept under an insecticide−treated mosquito net the night prior to the survey.
- Households with at least one ITN – Percentage of households with at least one insecticide−treated mosquito net.

### Importing dataset

In [2]:
path = './datasets/SOWC-Statistical-tables-ALL-2019.xlsx'
health_original = pd.read_excel(path, sheet_name = '4. Child Health', header = [6], index_col = 1)
health_original.head(10)

,Unnamed: 0,BCG,Unnamed: 3,DTP1,Unnamed: 5,DTP3,Unnamed: 7,Polio3,Unnamed: 9,MCV1,...,Care seeking for children with symptoms of Acute Respiratory Infection (ARI) \n(%),Unnamed: 25,Treatment with oral rehydration salts (ORS) (%),Unnamed: 27,Care seeking for children with fever (%),Unnamed: 29,Children sleeping under ITNs (%),Unnamed: 31,Households with at least one ITN (%),Unnamed: 33
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,78,NaN,73,NaN,66,NaN,73,NaN,64,...,61.5,NaN,46.2,NaN,63.2,NaN,4.6,NaN,26,NaN
Albania,NaN,99,NaN,99,NaN,99,NaN,99,NaN,94,...,82.4,NaN,34.5,NaN,59.6,NaN,−,NaN,−,NaN
Algeria,NaN,99,NaN,96,NaN,91,NaN,91,NaN,80,...,66.4,NaN,25.3,NaN,−,NaN,−,NaN,−,NaN
Andorra,NaN,–,NaN,99,NaN,99,NaN,99,NaN,99,...,−,NaN,−,NaN,−,NaN,−,NaN,−,NaN
Angola,NaN,86,NaN,67,NaN,59,NaN,56,NaN,50,...,49,NaN,42.6,NaN,50.8,NaN,21.7,NaN,30.9,NaN
Anguilla,NaN,–,NaN,–,NaN,–,NaN,–,NaN,–,...,−,NaN,−,NaN,−,NaN,−,NaN,−,NaN
Antigua and Barbuda,NaN,–,NaN,99,NaN,95,NaN,94,NaN,96,...,−,NaN,−,NaN,−,NaN,−,NaN,−,NaN
Argentina,NaN,93,NaN,91,NaN,86,NaN,84,NaN,94,...,94.3,x,17.5,x,−,NaN,−,NaN,−,NaN

In [3]:
# Keeping only "Immunization for vaccine preventable diseases (%)" columns
health = health_original[['BCG', 'DTP1', 'DTP3', 'Polio3', 'MCV1', 'MCV2^',
       'HepB3', 'Hib3', 'Rota', 'PCV3', 'Protection at birth (PAB) against tetanusλ ',]]

health.head()

,BCG,DTP1,DTP3,Polio3,MCV1,MCV2^,HepB3,Hib3,Rota,PCV3,Protection at birth (PAB) against tetanusλ
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,78,73,66,73,64,39,66,66,60,65,68
Albania,99,99,99,99,94,96,99,99,–,98,95
Algeria,99,96,91,91,80,77,91,91,–,91,98

In [4]:
# Keeping only rows with country data
health = health.iloc[2:204]

In [5]:
# Cleaning column names
health.rename(columns={'MCV2^':'MCV2', 'Protection at birth (PAB) against tetanusλ ':'Tetanus'}, inplace=True)
health.head()

            BCG DTP1 DTP3 Polio3 MCV1 MCV2 HepB3 Hib3 Rota PCV3 Tetanus
Afghanistan  78   73   66     73   64   39    66   66   60   65      68
Albania      99   99   99     99   94   96    99   99    –   98      95
Algeria      99   96   91     91   80   77    91   91    –   91      98
Andorra       –   99   99     99   99   95    98   99    –   94       –
Angola       86   67   59     56   50   35    59   59   65   67      78

In [6]:
# NaN rows
health = health.replace({'–': np.nan})
health

,BCG,DTP1,DTP3,Polio3,MCV1,MCV2,HepB3,Hib3,Rota,PCV3,Tetanus
Afghanistan,78.0,73.0,66.0,73.0,64.0,39.0,66.0,66.0,60.0,65.0,68.0
Albania,99.0,99.0,99.0,99.0,94.0,96.0,99.0,99.0,NaN,98.0,95.0
Algeria,99.0,96.0,91.0,91.0,80.0,77.0,91.0,91.0,NaN,91.0,98.0
Andorra,NaN,99.0,99.0,99.0,99.0,95.0,98.0,99.0,NaN,94.0,NaN
Angola,86.0,67.0,59.0,56.0,50.0,35.0,59.0,59.0,65.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),92.0,84.0,60.0,53.0,74.0,39.0,60.0,60.0,NaN,NaN,70.0
Viet Nam,95.0,78.0,75.0,90.0,97.0,90.0,75.0,75.0,NaN,NaN,94.0
Yemen,64.0,75.0,65.0,59.0,64.0,46.0,65.0,65.0,64.0,64.0,70.0
Zambia,91.0,94.0,90.0,90.0,94.0,65.0,90.0,90.0,91.0,90.0,85.0
Zimbabwe,95.0,94.0,89.0,89.0,88.0,78.0,89.0,89.0,90.0,89.0,87.0

In [7]:
# Dropping rows where all values are null
health = health.dropna(thresh = 7)
health

,BCG,DTP1,DTP3,Polio3,MCV1,MCV2,HepB3,Hib3,Rota,PCV3,Tetanus
Afghanistan,78.0,73.0,66.0,73.0,64.0,39.0,66.0,66.0,60.0,65.0,68.0
Albania,99.0,99.0,99.0,99.0,94.0,96.0,99.0,99.0,NaN,98.0,95.0
Algeria,99.0,96.0,91.0,91.0,80.0,77.0,91.0,91.0,NaN,91.0,98.0
Andorra,NaN,99.0,99.0,99.0,99.0,95.0,98.0,99.0,NaN,94.0,NaN
Angola,86.0,67.0,59.0,56.0,50.0,35.0,59.0,59.0,65.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),92.0,84.0,60.0,53.0,74.0,39.0,60.0,60.0,NaN,NaN,70.0
Viet Nam,95.0,78.0,75.0,90.0,97.0,90.0,75.0,75.0,NaN,NaN,94.0
Yemen,64.0,75.0,65.0,59.0,64.0,46.0,65.0,65.0,64.0,64.0,70.0
Zambia,91.0,94.0,90.0,90.0,94.0,65.0,90.0,90.0,91.0,90.0,85.0
Zimbabwe,95.0,94.0,89.0,89.0,88.0,78.0,89.0,89.0,90.0,89.0,87.0

In [9]:
# Saving cleaned dataset
health.to_excel('./datasets/health_clean.xlsx')

## Survey Dataset

### Content to keep:
#### Sheet:
- Crosstabs all countries

#### Questions:
- Q24 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are important for children to have.
- Q25 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are safe.
- Q26 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are effective.

#### Columns
- Country
- Question
- Response
- National (%, count)

In [10]:
path = './datasets/wgm2018-dataset-crosstabs-all-countries.xlsx'
survey = pd.read_excel(path, sheet_name = 'Crosstabs all countries', index = [3], header = [2])
survey.head()

,Country,Question,Response,Column N %,Unweighted Count,Column N %.1,Unweighted Count.1,Column N %.2,Unweighted Count.2,Column N %.3,...,Column N %.16,Unweighted Count.16,Column N %.17,Unweighted Count.17,Column N %.18,Unweighted Count.18,Column N %.19,Unweighted Count.19,Column N %.20,Unweighted Count.20
0,Afghanistan,"Q1 How much do you, personally, know about sci...",A lot,0.024561,30,0.045239,23,0.004403,7,0.029301,...,0.022139,4,0.049635,14,0.0,0,0.044383,6,0.022938,24
1,Afghanistan,"Q1 How much do you, personally, know about sci...",Some,0.337138,393,0.416994,230,0.259290,163,0.408161,...,0.355557,76,0.472349,138,0.0,0,0.479065,61,0.320562,326
2,Afghanistan,"Q1 How much do you, personally, know about sci...",Not much,0.309527,287,0.347420,170,0.272586,117,0.283687,...,0.290543,57,0.275725,68,0.0,0,0.338818,32,0.307318,251
3,Afghanistan,"Q1 How much do you, personally, know about sci...",Nothing at all,0.292751,257,0.188135,75,0.394737,182,0.244218,...,0.298553,58,0.185203,41,0.0,0,0.137733,12,0.310804,244
4,Afghanistan,"Q1 How much do you, personally, know about sci...",(DK),0.036023,33,0.002212,2,0.068984,31,0.034633,...,0.033208,6,0.017088,5,0.0,0,0.000000,0,0.038378,32

In [11]:
# Keeping only national results
survey = survey.iloc[:, :5]
survey

,Country,Question,Response,Column N %,Unweighted Count
0,Afghanistan,"Q1 How much do you, personally, know about sci...",A lot,0.024561,30
1,Afghanistan,"Q1 How much do you, personally, know about sci...",Some,0.337138,393
2,Afghanistan,"Q1 How much do you, personally, know about sci...",Not much,0.309527,287
3,Afghanistan,"Q1 How much do you, personally, know about sci...",Nothing at all,0.292751,257
4,Afghanistan,"Q1 How much do you, personally, know about sci...",(DK),0.036023,33
...,...,...,...,...,...
35840,Zimbabwe,How a person views personal & societal benefit...,Included,0.247805,250
35841,Zimbabwe,How a person views personal & societal benefit...,Excluded,0.107581,106
35842,Zimbabwe,How a person views personal & societal benefit...,Sceptic,0.076144,78
35843,Zimbabwe,How a person views personal & societal benefit...,Did not answer one of two questions,0.112203,92
35844,Zimbabwe,How a person views personal & societal benefit...,Total,1.000000,1000

In [12]:
# Keeping only rows with Q24, 25 and 26
survey = survey.loc[(survey.Question.str.contains('Q24', case = False)) 
                   | (survey.Question.str.contains('Q25', case = False))
                   | (survey.Question.str.contains('Q26', case = False))]
survey

,Country,Question,Response,Column N %,Unweighted Count
166,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Strongly agree,0.846256,843
167,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Somewhat agree,0.129257,126
168,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Neither agree nor disagree,0.003520,3
169,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Somewhat disagree,0.015567,15
170,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.005400,6
...,...,...,...,...,...
35808,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Neither agree nor disagree,0.055830,47
35809,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Somewhat disagree,0.009500,10
35810,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.009019,7
35811,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Don't know/Refused,0.009236,8
35812,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Total,1.000000,886

In [13]:
# Column N % in %
survey['Column N %'] = [round(x * 100, 2) for x in survey['Column N %']]
survey

/Users/marie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Country,Question,Response,Column N %,Unweighted Count
166,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Strongly agree,84.63,843
167,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Somewhat agree,12.93,126
168,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Neither agree nor disagree,0.35,3
169,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Somewhat disagree,1.56,15
170,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.54,6
...,...,...,...,...,...
35808,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Neither agree nor disagree,5.58,47
35809,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Somewhat disagree,0.95,10
35810,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.90,7
35811,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Don't know/Refused,0.92,8
35812,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Total,100.00,886

In [14]:
# Keeping only disagree responses
survey = survey.loc[(survey.Response.str.contains('Somewhat disagree', case = False)) 
                   | (survey.Response.str.contains('Strongly disagree', case = False))]
survey

,Country,Question,Response,Column N %,Unweighted Count
169,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Somewhat disagree,1.56,15
170,Afghanistan,"Q24 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.54,6
175,Afghanistan,"Q25 Do you strongly or somewhat agree, strongl...",Somewhat disagree,3.55,35
176,Afghanistan,"Q25 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.92,10
182,Afghanistan,"Q26 Do you strongly or somewhat agree, strongl...",Somewhat disagree,1.07,11
...,...,...,...,...,...
35797,Zimbabwe,"Q24 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.50,6
35802,Zimbabwe,"Q25 Do you strongly or somewhat agree, strongl...",Somewhat disagree,1.86,18
35803,Zimbabwe,"Q25 Do you strongly or somewhat agree, strongl...",Strongly disagree,1.90,18
35809,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Somewhat disagree,0.95,10
35810,Zimbabwe,"Q26 Do you strongly or somewhat agree, strongl...",Strongly disagree,0.90,7

In [15]:
# Pivot table by country

survey_pivot = pd.pivot_table(index = 'Country', columns = 'Question', 
                       values = 'Column N %', aggfunc = 'mean', data = survey)
survey_pivot.rename(columns={'Q24 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are important for children to have.':
                             'Vaccines are important for children to have (%)', 
                             'Q25 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are safe.':
                             'Vaccines are safe (%)', 
                             'Q26 Do you strongly or somewhat agree, strongly or somewhat disagree or neither agree nor disagree with the following statement? Vaccines are effective.':
                            'Vaccines are effective (%)'}, inplace=True)
survey_pivot

Question,Vaccines are important for children to have (%),Vaccines are safe (%),Vaccines are effective (%)
Country,,,
Afghanistan,1.050,2.235,0.920
Albania,0.835,7.925,4.480
Algeria,1.850,5.640,3.850
Argentina,0.605,2.425,1.475
Armenia,6.090,10.285,6.235
...,...,...,...
Venezuela,0.075,2.025,1.245
Vietnam,0.695,4.055,1.785
Yemen,0.920,1.530,1.610
Zambia,1.170,5.140,4.075
Zimbabwe,0.285,1.880,0.925

In [16]:
# Saving cleaned dataset
survey_pivot.to_excel('./datasets/survey_clean.xlsx')